[Unit]
Description=MQTT Battery Telemetry Logger Service
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
# Path to the battery_logger directory
WorkingDirectory=/home/tuanpi5/ros2_project/src/battery_logger
# Running with the global python interpreter
ExecStart=/usr/bin/python3 battery_logger.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
User=tuanpi5

[Install]
WantedBy=multi-user.target
