[Unit]
Description=MQTT Battery Telemetry Logger Service
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
# Path to the battery_logger directory
WorkingDirectory=/home/nguye/ros2_project_ws/src/battery_logger
# Running with the virtual environment's python interpreter
ExecStart=/home/nguye/ros2_project_ws/src/battery_logger/venv/bin/python battery_logger.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
User=nguye

[Install]
WantedBy=multi-user.target
